<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Sing-Up</h1>
            <hr>

            <form action="/auth/sign-up" method="POST">

                <div class="mb-3 row">
                    <div class="col">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email">
                        <div class="form-text">Required.</div>
                    </div>
                    <div class="col">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                        <div class="form-text">Required</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>

                <div class="mb-3">
                    <label for="profileImg" class="form-label">Profile Image</label>
                    <input type="url" class="form-control" id="profileImg" name="profileImg">
                    <div class="form-text">Introduce an url with your image profile.</div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Completar registro</button>
                </div>

                {{#if errorMessage}}
                <div id="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}

            </form>
        </div>
    </div>

</div>